<h1>Add Prescription</h1>
<form action="/prescribe/new" method="POST">
  <label>Customer:</label>
  <select name="customer_id" required>
    <% customers.forEach(customer => { %>
      <option value="<%= customer.customer_id %>"><%= customer.name %></option>
    <% }) %>
  </select><br>
  
  <label>Drug:</label>
  <select name="drug_id" required>
    <% drugs.forEach(drug => { %>
      <option value="<%= drug.drug_id %>"><%= drug.name %></option>
    <% }) %>
  </select><br>
  
  <button type="submit">Add</button>
</form>
<a href="/prescribe">Back</a>
