<!-- New Drug Form -->
<h1>Add Drug</h1>
<form action="/drug/new" method="POST">
  <label>Name:</label>
  <input type="text" name="name" required><br>
  <button type="submit">Add</button>
</form>
<a href="/drug">Back</a>
